
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.heading {
    font-family: Guardian-EgypTT, Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, "serif";
    font-weight: 400;
    font-size: 31px;
    line-height: 34px;
}

.text-center {
    text-align: center;
}

.mt-2 {
    margin-top: 0.5rem;
}

.w-32 {
    width: 8rem; /* Ensure width is the same as the image width */
}

.mb-4 {
    margin-bottom: 1rem;
}

.mr-4 {
    margin-right: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.bg-gray-200 {
    background-color: #e5e7eb;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.rounded-full {
    border-radius: 9999px;
}


.button {
    background-color: #e0e0e0;
    color: gray;
    border: 1px solid #bdbdbd;
    padding: 8px 16px;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s; /* Added box-shadow */
}

.button:hover {
    background-color: #333333;
    color: #ffffff;
    border-color: #333333;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); /* Shadow effect on hover */
}
